In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset=pd.read_csv("Dataset_for_Internship.csv",encoding='unicode_escape')
dataset.head(5)

,Restaurant ID,Restaurant Name,Country Code,City,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes
0,17284302,El Vaquero Mexican Restaurant,216,Albany,-84.2194,31.6158,Mexican,0,Dollar($),No,No,No,1,3.4,Orange,Average,45
1,17330155,Deorio's,216,Columbus,-84.9427,32.4810,"Italian, Pizza",0,Dollar($),No,No,No,1,4.0,Green,Very Good,170
2,17334679,Azteca,216,Davenport,-90.5683,41.5699,Mexican,0,Dollar($),No,No,No,1,4.3,Green,Very Good,167
3,17342548,Happy Joe's Pizza & Ice Cream,216,Dubuque,-90.7264,42.4955,"Desserts, Pizza, Ice Cream",0,Dollar($),No,No,No,1,3.5,Yellow,Good,74
4,17582499,Royal Hotel,216,Pocatello,-112.0127,42.6192,"Pizza, Bar Food",0,Dollar($),No,No,No,1,3.6,Yellow,Good,59

# Level 1

## Task 2: City Analysis

### 1.Identify the city with the highest number of restaurants in the dataset.

In [3]:
restro_in_each_city=dataset["City"].value_counts()
restro_in_each_city

City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Beechworth             1
Balingup               1
Armidale               1
Vernonia               1
Vineland Station       1
Name: count, Length: 140, dtype: int64

In [4]:
city_with_max_restaurants = restro_in_each_city.idxmax()
max_restaurants_count = restro_in_each_city.max()
print(f"City with the hightest number of restaurant is {city_with_max_restaurants} with {max_restaurants_count} counts.")

City with the hightest number of restaurant is New Delhi with 5473 counts.

### 2.Calculate the average rating for restaurants in each city.

In [5]:
avg_rating_for_restro=dataset.groupby("City")["Aggregate rating"].mean()
avg_rating_for_restro

City
  stanbul          4.292857
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.552941
                     ...
Waterloo           3.650000
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
Name: Aggregate rating, Length: 140, dtype: float64

### 3.Determine the city with the highest average rating.

In [6]:
highest_avg_rating_city=avg_rating_for_restro.idxmax()
print(f"{highest_avg_rating_city} got highest average rating.")

Inner City got highest average rating.